<div class="card-group" *ngIf="student">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Detail Student</h4>
      <p class="card-text">{{student.name}}</p>
      <p class="card-text">{{student.score}}</p>
      <p class="card-text">{{student.vote}}</p>
    </div>
  </div>
</div>
<!-- Modal -->
<!--<div class="modal fade" id="modelAdd" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true"-->
<!--     data-bs-keyboard="false" data-bs-backdrop="static" *ngIf="student">-->
<!--  <div class="modal-dialog" role="document">-->
<!--    <div class="modal-content" >-->
<!--      &lt;!&ndash;      <form action="">&ndash;&gt;-->
<!--      <div class="modal-header">-->
<!--        <h4 class="modal-title" id="modelTitleId">Detail entry</h4>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        <div class="form-group">-->
<!--          <label>Name</label>-->
<!--          <p class="card-text">{{student.name}}</p>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <label>Score</label>-->
<!--          <p class="card-text">{{student.score}}</p>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <label>Score</label>-->
<!--          <p class="card-text">{{student.score}}</p>-->
<!--        </div>-->
<!--        <div class="modal-footer">-->
<!--          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>-->
<!--        </div>-->
<!--        &lt;!&ndash;      </form>&ndash;&gt;-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
