<div class="container">
  <div class="card mb-2">
    <div class="card-body">
      <form action="" *ngIf="searchForm" [formGroup]="searchForm" (ngSubmit)="onSearch()">
        <tr>
          <td class="col-4">
            <div class="form-group mb-2 d-inline">
              <label for="1">Name: </label>
              <input type="search" id="1" class="form-control" formControlName="productName">
            </div>
          </td>
          <td class="col-4">
            <div class="form-group mb-2 d-inline">
              <label for="2">Price: </label>
              <input type="search" id="2" class="form-control" formControlName="productPrice">
            </div>
          </td>
          <td class="col-4">
            <div class="form-group mb-2 d-inline">
              <label for="2">Start Day: </label>
              <input type="date" id="3" class="form-control" formControlName="proDayStart">
            </div>
          </td>
          <td class="col-4">
            <div class="form-group mb-2 d-inline">
              <label for="2">End Day: </label>
              <input type="date" id="4" class="form-control" formControlName="proDayEnd">
            </div>
          </td>
        </tr>
        <tr>
          <div class="form-group mb-2 d-inline">
            <button type="submit" class="btn btn-outline-dark">Search</button>
          </div>
        </tr>
      </form>
    </div>
  </div>
  <app-product-create></app-product-create>

  <div class='table-responsive'>
    <div class="card mt-2">
      <div class="card-body">
        <table class='table table-hover'>
          <thead>
          <tr>
            <th>Id.</th>
            <th>No.</th>
            <th>Name</th>
            <th>Price</th>
            <th>Day</th>
            <th>End</th>
            <th>Description</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let product of products | paginate: { itemsPerPage: 3, currentPage: p }; index as i ">
            <td>{{product.id}}</td>
            <td>{{product.productNo}}</td>
            <td>{{product.productName | titlecase}}</td>
            <td>{{product.productPrice | currency: 'VND'}}</td>
            <td>{{product.productDay | date: 'dd/MM/yyyy' }}</td>
            <td>{{product.productEnd | date: 'dd/MM/yyyy' }}</td>
            <td>{{product.productDescription}}</td>
            <td>{{product.status.statusName}}</td>

            <!-- Button trigger modal delete -->
            <td class="d-flex justify-content-evenly"><!-- Button trigger modal -->
              <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#delete"
                      (click)="getProduct(product.id)">Delete
              </button>
              <!-- Modal detail -->
              <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#detail"
                      (click)="getProduct(product.id)">Detail
              </button>
              <!--  edit -->
              <a class="btn btn-outline-dark" role="button" routerLink="/product/update/{{product.id}}">Update</a>
            </td>
          </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </div>
</div>

<!-- Modal delete -->
<div *ngIf="product" class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="modelTitleIdDelete"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modelTitleIdDelete"></h4>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ban co muon xoa {{product.productName}} khong?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" (click)="removeProduct(product.id)">
          confirm
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal detail-->
<div *ngIf="product" class="modal fade" id="detail" tabindex="-1" role="dialog" aria-labelledby="modelTitleIdDetail"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modelTitleIdDetail"></h4>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-header bg-info text-white">
            Detail Product
          </div>
          <div class="card-body">
            <p class="card-text">{{ product.productNo}}</p>
            <h5 class="card-title">{{ product.productName }}</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Price:</strong> {{ product.productPrice }}</li>
            <li class="list-group-item"><strong>Day:</strong> {{ product.productDay }}</li>
            <li class="list-group-item"><strong>Class:</strong> {{ product.status.statusName }}</li>
            <li class="list-group-item"><strong>Class:</strong> {{ product.productDescription }}</li>
          </ul>
          <div class="card-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
