<form action="" [formGroup]="productForm" (ngSubmit)="updateProduct(id)">
  <div class="modal-header">
    <h4 class="modal-title" id="modelTitleId"></h4>
    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>No<span>*</span></label>
      <input type="text" class="form-control" formControlName="productNo">
    </div>
    <div class="form-group">
      <label>Name<span>*</span></label>
      <input type="text" class="form-control" formControlName="productName">
    </div>
    <div class="form-group">
      <label>Price<span>*</span></label>
      <input type="number" class="form-control" formControlName="productPrice">
    </div>
    <div class="form-group">
      <label>Day<span>*</span></label>
      <input type="date" class="form-control" formControlName="productDay">
    </div>
    <div class="form-group">
      <label>Description<span>*</span></label>
      <input type="text" class="form-control" formControlName="productDescription">
    </div>
    <div class="form-group">
      <label>Status<span>*</span></label>
      <select class="form-select" formControlName="status">
        <option *ngFor="let status of statuses" [value]="status.id">{{status.statusName}}</option>
      </select>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" >Update</button>
  </div>
</form>

