<!--<app-fontsize></app-fontsize>-->
<!--<app-pet></app-pet>-->
<!--<app-product></app-product>-->
<!--<app-caculator></app-caculator>-->
<!--<app-color></app-color>-->
<!--<app-hackernews></app-hackernews>-->
<!--<app-name-card cardName="Professional" email="prodev@codegym.vn" phone="0123456789"></app-name-card>-->
<!--<app-progress-bar></app-progress-bar>-->
<!--<app-rating-bar></app-rating-bar>-->
<!--<app-navbar></app-navbar>-->
<!--<app-countdown></app-countdown>-->
<!--<app-login></app-login>-->
<app-dictionarypage></app-dictionarypage>

