<!-- Button trigger modal -->
<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modelAdd">
Add New
</button>

<!-- Modal -->
<div class="modal fade" id="modelAdd" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true"
      data-bs-keyboard="false" data-bs-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
<!--      <form action="">-->
      <div class="modal-header">
        <h4 class="modal-title" id="modelTitleId">Create new entry</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Name</label>
          <input #name type="text" class="form-control" id="name">
        </div>
        <div class="form-group">
          <label>Score</label>
          <input #score type="score" class="form-control" id="score">
        </div>
<!--        <div class="form-group">-->
<!--          <label>Address</label>-->
<!--         <textarea class="form-control" required></textarea>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <label>Phone</label>-->
<!--          <input type="text" class="form-control" required>-->
<!--        </div>-->
<!--      </div>-->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="addStudent(name.value,score.value)">
          ADD student
        </button>
      </div>
<!--      </form>-->
    </div>
  </div>
</div>


