<h3 style="text-align: center">Form đăng nhập</h3>
<form action="" [formGroup]="rfLogin">
  <div class="input-group ">
    <label for="email">Email: </label>
    <input #email
           type="text"
           id="email" class="form-control"  formControlName="email">
  </div>
  <p class="text-danger" *ngIf="rfLogin.controls.email?.touched &&
  rfLogin.controls.email?.errors?.required">Không được để trôống</p>
  <p class="text-danger" *ngIf="rfLogin.controls.email?.touched &&
  rfLogin.controls.email?.errors?.email">Email không đúng định dạng</p>

  <div class="input-group ">
    <label for="password">Password: </label>
    <input #password
           type="password"
           id="password" class="form-control"  formControlName="password">
  </div>
  <p class="text-danger" *ngIf="rfLogin.controls.password?.touched &&
  rfLogin.controls.password?.errors?.required">Không được để trống</p>
  <p class="text-danger" *ngIf="rfLogin.controls.password?.touched &&
  rfLogin.controls.password?.errors?.minlength">Mật khẩu tối thiểu 6 kí tự</p>
  <button type="button" class="btn btn-primary">Đăng nhập</button>
</form>
