<div class="input-group">
  <label for="first-number">First Number</label>
  <input #firstnumber type="number"
  class="form-control" id="first-number" >
</div>

<div class="input-group">
  <label for="first-number">Second Number</label>
  <input #secondnumber type="number"
         class="form-control" id="second-number" >
</div>

<button type="button" class="btn btn-primary"
  (click)="sum(firstnumber.value, secondnumber.value)">SUM</button>
<button type="button" class="btn btn-primary"
        (click)="minus(firstnumber.value, secondnumber.value)">Minus</button>
<button type="button" class="btn btn-primary"
        (click)="multiply(firstnumber.value, secondnumber.value)">multiply</button>
<button type="button" class="btn btn-primary"
        (click)="division(firstnumber.value, secondnumber.value)">division</button>
<p>Result: {{result}}</p>
