* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  background: white;
}

.header h1 {
  font-size: 50px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
  padding: 10px; /* Khoảng cách phần lề bên trong header */
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #fff;;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Hiệu ứng chuyển đổi màu nền và transform mượt mà */

}

/* Change color on hover */
.topnav a:hover {
  background-color: #74b9ff;
  color: black;
    border-radius: 8px; /* Bo góc cho hiệu ứng nổi bật */
    transform: scale(1.2); /* Phóng to khi di chuột qua */
    border-radius: 8px; /* Bo góc cho hiệu ứng nổi bật */

}

.topnav a.router-link-active {
  background-color: #4CAF50; /* Màu nền khi liên kết được chọn */
  color: #fff; /* Màu chữ khi liên kết được chọn */
  font-weight: bold; /* Tạo độ đậm cho liên kết được chọn */
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

ul {
  list-style: none;
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }

}
