<app-product-cre></app-product-cre>
<table class="table">
  <thead>
  <tr>
    <th>Id.</th>
    <th>No.</th>
    <th>Name</th>
    <th>Price</th>
    <th>Description</th>
    <th>Status</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of products; index as i">
    <td scope="row">{{i + 1}}</td>
<!--    <td>{{product.productNo}}</td>-->
    <td>{{product.productName}}</td>
    <td>{{product.productPrice}}</td>
    <td>{{product.productDescription}}</td>
    <td>{{product.productStatus.statusName}}</td>
<!--    <td>&lt;!&ndash; Button trigger modal &ndash;&gt;-->
<!--      <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#delete"-->
<!--              (click)="getStudent(student.id)">Delete-->
<!--      </button>-->
<!--&lt;!&ndash;      <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#detail"&ndash;&gt;-->
<!--&lt;!&ndash;              (click)="getStudent(student.id)">Detail&ndash;&gt;-->
<!--&lt;!&ndash;      </button>&ndash;&gt;-->
<!--&lt;!&ndash;    </td>&ndash;&gt;-->
  </tr>
  </tbody>
</table>

